/* --- Staticman CSS --- */

.post-comments {
    margin-top: 60px;
  }

  .post-comment {
    background-color: #f7f9fa;
    padding: 10px;
    margin-top: 10px;
    margin-left: 2em;
    font-size: 16px;
  }

  .post-comment-reply {
    background-color: #f7f9fa;
    padding: 10px;
    margin-top: 10px;
    margin-left: 4em;
    font-size: 16px;
  }

  .post-comment-header {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .post-comment-avatar {
    display: inline-block;
    border-radius: 50%;
  }

  .post-comment-avatar-reply {
    display: inline-block;
    border-radius: 50%;
    margin-left: 2em;
  }

  .post-comment-info {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .post-comment-field {
    display: block;
    font: inherit;
    padding: 10px;
    margin-bottom: 20px;
    outline-color: #F76C5E;
    width: 100%;
  }

  .post-comment-reply-button {
    margin-top: 10px;
    float: right;
    font-size: 16px;
  }

  .post-comment-reply-button-reply {
    margin-top: 10px;
    float: right;
    font-size: 16px;
  }

  @media only screen and (min-width: 767px) {
    .post-comment {
      background-color: #f7f9fa;
      padding: 10px;
      margin-top: 10px;
      margin-left: 4em;
      font-size: 16px;
    }
    .post-comment-reply {
      background-color: #f7f9fa;
      padding: 10px;
      margin-top: 10px;
      margin-left: 8em;
      font-size: 16px;
    }
    .post-comment-avatar-reply {
      display: inline-block;
      border-radius: 50%;
      margin-left: 4em;
    }
  }

  .btn {
    border: 2px solid #F76C5E;
    background-color: #F76C5E;
    color: white;
    display: inline-block;
    font: inherit;
    padding: 10px;
    min-width: 10 0px;
    -webkit-appearance: none;
  }

  .btn-info {
    border: 1px solid #5e60f7;
    background-color: #5e60f7;
    color: white;
    display: inline-block;
    font: inherit;
    padding: 10px;
    min-width: 50px;
    -webkit-appearance: none;
  }

  .btn:hover {
    border: 2px solid #F76C5E !important;
    background-color: white;
    color: #F76C5E;
    text-decoration: none;
  }

  .dialog {
    display: none;
    position: fixed;
    background-color: rgba(238, 238, 238, 1);
    padding: 25px;
    padding-top: 20%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .dialog:target {
    display: block;
  }


.show-modal .modal {
	display: block;
}

.modal {
	display: none;
	position: fixed;
	width: 300px;
	height: 200px;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -150px;
	min-height: 0;
	z-index: 9999;
  padding: 0.5rem;
  border: 1px solid rgba(0,0,0,1);
  background-color: rgba(220,220,220,1);
}
